.profile-container {
  margin-top: 31%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.name {
  color: rgb(250, 173, 29);
}

.typing-text {
  overflow: hidden;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  animation: typing 2s steps(50, end) forwards;
  font-size: 2.4rem;
  font-family: "Fira Code", monospace;
}

.profile-pic {
  width: 25rem;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  margin-top: 4%;
  transition: width 0.6s ease-in-out, transform 0.6s ease-in-out,
    top 0.6s ease-in-out, left 0.6s ease-in-out;
}

.profile-pic.scrolled {
  position: fixed;
  top: 0%;
  left: 52%;
  width: 20rem;
  transform: translateX(25rem);
  transition: transform 0.6s ease-in-out;
  box-shadow: 0 4px 8px rgba(6, 247, 255, 0.856);
  transition: width 0.6s ease-in-out, transform 0.6s ease-in-out,
    top 0.6s ease-in-out, left 0.6s ease-in-out;
}

.typing-text.done {
  animation: blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 49%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.75);
  }
}

.about-me {
  width: 80%;
  font-size: 0.9rem;
  margin-top: 8rem;
  text-align: left;
}

.about-me h4 {
  width: 18%;
  text-align: left;
  margin-bottom: 1.3rem;
}

.about-me p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}

.tech-stack-container {
  width: 80%;
  font-size: 0.9rem;
  margin-top: 10rem;
  text-align: left;
}

.tech-stack-container h4 {
  width: 20%;
  text-align: left;
  margin-bottom: 3rem;
}

.download-cv-btn {
  background-color: rgba(6, 247, 255, 0.856);
  color: white;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(6, 247, 255, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 4rem;
  text-decoration: none;
}

.download-cv-btn:hover {
  background-color: rgba(6, 247, 255, 1);
  transform: scale(1.05);
}

/* .download-cv-btn {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-cv-btn:hover {
  background-color: #45a049;
} */

@media (max-width: 768px) {
  .profile-pic {
    width: 80%;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
    margin-top: 4%;
    transition: none;
    box-shadow: 0 4px 8px rgba(6, 247, 255, 0.856);
  }

  .profile-pic.scrolled {
    transition: none;
    transform: none;
    position: static;
    width: 80%;
  }

  .hello-world {
    margin-top: 8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .fullstack-text {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }

  .about-me h4 {
    width: 39%;
    text-align: left;
    margin-bottom: 1.3rem;
  }

  .tech-stack-container h4 {
    width: 44%;
    text-align: left;
    margin-bottom: 3rem;
  }

  .download-cv-btn {
    margin-top: 8rem;
    margin-bottom: 0;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 88%;
    }
  }
}
