.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #333;
  color: rgba(6, 247, 255, 0.856);
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(6, 247, 255, 0.856);
  transition: transform 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.2);
  background-color: #555;
}
