.home-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.content-container {
  width: 50%;
  background: linear-gradient(to left, #050518, #120c36);
  box-shadow: -30px 0 40px -20px #050518, 30px 0 40px -20px #090520;
}

body.modal-open {
  overflow: hidden;
  pointer-events: none;
}

.e-dlg-container {
  pointer-events: auto !important;
}
